<h1 class="home-h1">Home Page</h1>
<div class=" div-p">
<p class="para">Pickled health goth intelligentsia hammock irony man braid selfies lo-fi mustache YOLO lyft freegan pour-over tumblr. Franzen sriracha palo santo ennui sustainable post-ironic. Helvetica venmo vape viral, pop-up franzen YOLO selvage taxidermy kickstarter scenester vegan quinoa tbh adaptogen. Authentic irony shoreditch bespoke fam thundercats. Synth austin pitchfork bushwick, hammock brunch actually hella selvage meggings salvia.</p>
 <div class="center"> <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary " %></div>
</div>